.total-progress {
    background: red;
    height: 20px;
    width: 200px;
    border-radius: 10px;
}

.my-progress {
    background: #1c1c1c;
    height: 20px;
    width: 20px;
    align-items: center;
    text-align: center;
    justify-content: end;
    border-radius: 10px;
}

.language {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    color: #1c1c1c;
    text-transform: capitalize;
}

.language-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}